@import '~bootstrap/scss/bootstrap';

* {
    font-family: 'Caveat', cursive;
    font-family: 'Sono', sans-serif;
}

body {
    background-image: url("https://images.unsplash.com/photo-1495313196544-7d1adf4e628f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1471&q=80");
    background-repeat: no-repeat;
    background-size: cover;
}

table {

    max-width: 1000px;
    margin: 200px auto;

    background-color: rgba(0, 0, 0, 0.868);
    color: rgba(218, 150, 54, 0.801);

    th, td {
        border: 1px solid rgb(218, 150, 54);
    }

    th {
        padding: 5px;
    }

    td {
        padding: 10px;
    }
}